<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="./style/favicon.png">
    <title>Hordes IO Simulation</title>

    <link rel="stylesheet" href="./style/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script defer type="module" src="./build/main.js"></script>
</head>
<body>
    <div id="links">
        <a href="https://github.com/Quentis/HordesIO_Simulator" target="_blank"><img id="link" src="./style/Github.png" /></a>
        <a href="https://hordes.io/" target="_blank"><img id="link" src="./style/HordesIo.png" /></a>
    </div>
    <div id="app">
        <div id="loading" v-show="loading"><span class="loadingIco"></span></div>
        <div class="inputFile">
            <input type="file" id="file" ref="aplFile" accept=".siml"
            @change="readAPLFile">
        </div>
        <center>
            <a href="https://github.com/Quentis/HordesIO_Simulator/blob/master/readme.md" target="_blank"><button class="button-sim" id="downloadExample">Examples & Tutorial</button></a>
            <br />
            <button class="button-sim" @click="startSimulation()">Start simulation</button>
        </center>
        <hr>
        <div class="combat">
            <p v-if="damage.lowest > 0">Lowest Total Damage: {{ damage.lowest }} </p>
            <p v-if="damage.highest > 0" class="highest">Highest Total Damage: {{ damage.highest }} </p>
            <p v-if="damage.average > 0"><span v-bind:style="{ width: (100 / (damage.highest+damage.lowest) * damage.average) + '%' }" class="fill"></span>Average Total Damage: {{ damage.average }} </p>
            <br />
            <p v-if="dps.lowest > 0">Lowest DPS: {{ dps.lowest }} </p>
            <p v-if="dps.highest > 0" class="highest">Highest DPS: {{ dps.highest }} </p>
            <p v-if="dps.average > 0"><span v-bind:style="{ width: (100 / (dps.highest+dps.lowest) * dps.average) + '%' }" class="fill"></span>Average DPS:  {{ dps.average }} </p>
            <br />
            <div v-if="debug">
                <p style="width:85%;" v-if="maxMana>0"><span v-bind:style="{width: (100 / (maxMana) * mana) + '%' }" style="background-color:lightblue" class="fill"></span>Current Mana:  {{ Math.floor(mana) }} </p>
                <br />
                <div v-if="activeAuras.length > 0" class="auraList"> Auras: <br />
                    <p class="auras" v-for="aura in activeAuras" :key="aura.id"><span v-bind:style="{width: (100 / (aura.maxDuration) * aura.duration) + '%' }" style="background-color:silver" class="fill">
                    </span> {{ aura.name }} <span v-if="aura.stacks > 1">[{{ aura.stacks }}]</span><span v-if="aura.duration > 0"> - {{ aura.duration }}s</span></p>
                </div>
            </div>
            <textarea disabled v-model="combatLog">  </textarea>
        </div>
    </div>
</body>
</html>