<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hordes IO Simulation</title>

    <link rel="stylesheet" href="./style/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script defer type="module" src="./build/main.js"></script>
</head>
<body>
    <div id="app">
        <div id="loading" v-show="loading"><span class="loadingIco"></span></div>
        <div class="stats-sheet">
            <div class="item">Mana: <input class="stat-input" type="number" name="mana" v-model="stats.mana" @blur="updateStats($event)" /> </div>
            <div class="item">Mana Regen: <input class="stat-input" type="number" name="manaregen" v-model="stats.manaregen" @blur="updateStats($event)" /> </div>
            <div class="item">Defense: <input class="stat-input" type="number" name="defense" v-model="stats.defense" @blur="updateStats($event)" /> </div>
            <div class="item">Block: <input class="stat-input" type="number" step="0.1" name="block" v-model="stats.block" @blur="updateStats($event)" />% </div>
            <div class="item">Min Damage: <input class="stat-input" type="number" name="mindamage" v-model="stats.mindamage" @blur="updateStats($event)" /> </div>
            <div class="item">Max Damage: <input class="stat-input" type="number" name="maxdamage" v-model="stats.maxdamage" @blur="updateStats($event)" /> </div>
            <div class="item">Haste: <input class="stat-input" type="number" step="0.1" name="haste" v-model="stats.haste"  @blur="updateStats($event)" />% </div>
            <div class="item">Critical: <input class="stat-input" type="number" step="0.1" name="critical" v-model="stats.critical" @blur="updateStats($event)" />% </div>
        </div>

        <div class="abilites">
            <h1>Used Skill points: {{ skillPoints }}</h1>
            <div class="class"> 
                <h1> Warrior </h1>
                <div class="ability-bar">
                    <div class="ability">
                        Slash: <br/> <input class="ability-input" type="range" name="slash" min="0" max="5" value="0" data-id="0" @input="updateSkillPoints($event)"/>
                        <output>0</output>
                    </div>
                    <div class="ability">
                        Crescent Swipe: <br/> <input class="ability-input" type="range" name="crescentSwipe" min="0" max="5" value="0" data-id="1" @input="updateSkillPoints($event)"/>
                        <output>0</output>
                    </div>
                    <div class="ability">
                        Unholy Warcry: <br/> <input class="ability-input" type="range" name="unholyWarcry" min="0" max="4" value="0" data-id="2" @input="updateSkillPoints($event)"/>
                        <output>0</output>
                    </div>
                    <div class="ability">
                        Centrifugal Laceration: <br/> <input class="ability-input" type="range" name="centrifugalLaceration" min="0" max="5" value="0" data-id="3" @input="updateSkillPoints($event)"/>
                        <output>0</output>
                    </div>
                    <div class="ability">
                        Armor Reinforcement: <br/> <input class="ability-input" type="range" name="armorReinforcement" min="0" max="5" value="0" data-id="4" @input="updateSkillPoints($event)"/>
                        <output>0</output>
                    </div>
                    <div class="ability">
                        Taunt: <br/> <input class="ability-input" type="range" name="taunt" min="0" max="5" value="0" data-id="5" @input="updateSkillPoints($event)"/>
                        <output>0</output>
                    </div>
                    <div class="ability">
                        Charge: <br/> <input class="ability-input" type="range" name="charge" min="0" max="1" value="0" data-id="6" @input="updateSkillPoints($event)"/>
                        <output>0</output>
                    </div>
                    <div class="ability">
                        Crusader's courage: <br/> <input class="ability-input" type="range" name="crusadersCourage" min="0" max="5" value="0" data-id="7" @input="updateSkillPoints($event)"/>
                        <output>0</output>
                    </div>
                    <div class="ability">
                        Bulwark: <br/> <input class="ability-input" type="range" name="bulwark" min="0" max="5" value="0" data-id="8" @input="updateSkillPoints($event)"/>
                        <output>0</output>
                    </div>
                    <div class="ability">
                        Colossal Reconstruction: <br/> <input class="ability-input" type="range" name="colossalReconstruction" min="0" max="5" value="0" data-id="9" @input="updateSkillPoints($event)"/>
                        <output>0</output>
                    </div>
                    <div class="ability">
                        Tempering: <br/> <input class="ability-input" type="range" name="tempering" min="0" max="1" value="0" data-id="10" @input="updateSkillPoints($event)"/>
                        <output>0</output>
                    </div>
                </div>
            </div>

            <div class="class"> 
                <h1> Mage </h1>
                <div class="ability-bar">
                    <div class="ability">
                        Ice bolt: <br/> <input class="ability-input" type="range" name="iceBolt" min="0" max="5" value="0" data-id="20" @input="updateSkillPoints($event)"/>
                        <output>0</output>
                    </div>
                    <div class="ability">
                        Icicle Orb: <br/> <input class="ability-input" type="range" name="icicleOrb" min="0" max="5" value="0" data-id="21" @input="updateSkillPoints($event)"/>
                        <output>0</output>
                    </div>
                    <div class="ability">
                        Chilling radiance: <br/> <input class="ability-input" type="range" name="chillingRadiance" min="0" max="5" value="0" data-id="22" @input="updateSkillPoints($event)"/>
                        <output>0</output>
                    </div>
                    <div class="ability">
                        Enchant: <br/> <input class="ability-input" type="range" name="Enchant" min="0" max="4" value="0" data-id="23" @input="updateSkillPoints($event)"/>
                        <output>0</output>
                    </div>
                </div>
            </div>
        </div>

        <div class="center-div"> 
            Simulators: <input style="width: 84px" type="number" v-model.number="simulators"/> Targets: <input  style="width: 48px" type="number" v-model.number="targets"/><br />
            <button class="button-sim" @click="startSimulation()">Start simulation</button>
            Debug Text: <input type="checkbox" v-model.boolean="debugText" />
        </div>
        <hr>
        <div class="combat">
            <p>Lowest Total Damage: {{ damage.lowest }} </p>
            <p class="highest">Highest Total Damage: {{ damage.highest }} </p>
            <p><span v-bind:style="{ width: (100 / (damage.highest+damage.lowest) * damage.average) + '%' }"></span>Average Total Damage: {{ damage.average }} </p>
            <br />
            <p>Lowest DPS: {{ dps.lowest }} </p>
            <p class="highest">Highest DPS: {{ dps.highest }} </p>
            <p><span v-bind:style="{ width: (100 / (dps.highest+dps.lowest) * dps.average) + '%' }"></span>Average DPS:  {{ dps.average }} </p>
            <br />
            <p style="width: 80%">Active auras: {{ activeAuras }}</p>
            <textarea disabled v-model="combatLog">  </textarea>
        </div>
    </div>
</body>
</html>