body {
   outline: 0;
   margin: 0;

   color: black;
   font-size: calc(1.1vw + 3.5px);
}

.center-div {
    display: block;
    margin: auto;

    text-align: center;
}

.button-sim {
    text-align: center;
    width: 164px;
    height: 40px;
    padding: 8px;

    font-weight: bold;
    
    margin: 12px;
}

.combat {
    display:block;
    margin: auto;

    width: 80%;
}

.combat p {
    position:relative;
    display: inline-block;

    margin-right: 10px;
    padding: 10px;

    border: 1px solid gray;
    border-radius: 8px;

    font-size: 0.85em;
    text-align: center;

    width: calc(85% / 3 - 24px);
}

.combat p.highest { background-color: #ff838c }

/** Progress bar **/
@keyframes animateBar {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 50px 50px;
    }
  }

.combat p > span {
    position: absolute;
    top: 0;
    left: -0.5px;
    height: 100%;
    z-index: -1;
    background-color: #ff838c;
    border-radius: 7px 0px 0px 7px;

    overflow: hidden;
    transition: width 0.3s
}

.combat p > span:after {
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image: linear-gradient(
      -45deg, 
      rgba(255, 255, 255, .2) 25%, 
      transparent 25%, 
      transparent 50%, 
      rgba(255, 255, 255, .2) 50%, 
      rgba(255, 255, 255, .2) 75%, 
      transparent 75%, 
      transparent
    );
    z-index: 1;

    background-size: 50px 50px;

    animation: animateBar 2s linear infinite;

    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    overflow: hidden;
  }

.auraList > .auras {
  display: inline-block;
  width: calc(84% / 3);
  font-size: 0.8em;
  padding: 8px;
}

.combat .auraList {
  width: 85%;
  border: 1px solid black;
  padding: 10px;
  margin-left: 10px;
  border-radius: 8px;

}

.combat textarea {
    width: 100%;
    height: 400px;

    margin: 8px;
    padding: 8px;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    z-index: 9999;
    background-color: #000000bd
}

.loadingIco {
    position: absolute;
    width: 120px;
    height: 120px;
    bottom: 50%;
    right: 50%;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
  }
  .loadingIco:after {
    content: " ";
    display: block;
    width: 96px;
    height: 96px;
    margin: 12px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: loadingIco 1.5s linear infinite;
  }
  @keyframes loadingIco {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
.inputFile {
  text-align: center;
  padding: 28px;
}